@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgb(231, 226, 221);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}
.navbar-center {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}

.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -15px;
  right: -2px;
  background-color: var(--primaryColor);
  border-radius: 40%;
  padding: 5px;
  z-index: 1;
  color: var(--mainWhite);
}
.hero {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-content: center;

  background-image: url(/images/hero-bcg.jpeg);
  width: 100%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  justify-content: center;
  background-size: 150px;
  width: 600px;
  height: 600px;
  margin: 20rem;

  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 4rem;
  text-transform: capitalize;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
